# ══════════════════════════════════════════════
#  Copier ce fichier en .env et remplir les valeurs
#  cp .env.example .env
# ══════════════════════════════════════════════

# Indique que nous sommes en production
NODE_ENV = 'production'


# URL de l'API backend (obligatoire pour toutes les apps)
NEXT_PUBLIC_API_URL=https://api.votre-domaine.com

# URLs des microfrontends
# En développement local, les valeurs par défaut du docker-compose suffisent.
# En production, remplacer par les vraies URLs de déploiement.
NEXT_PUBLIC_MFE_AGENCY_URL=https://agency.votre-domaine.com
NEXT_PUBLIC_MFE_CLIENT_URL=https://client.votre-domaine.com
NEXT_PUBLIC_MFE_ORGANISATION_URL=https://organisation.votre-domaine.com
